html, body {
	height: 100%;
	background-color: #D4D4D4;
}

#welcome{
	margin-bottom: 0px;
	min-width: 715px;

}

#logo{	
	float: left;
	margin-left: 2%;
	margin-right: 5%;
}

#helper {
	float: left;
	height: 50%;
	margin-bottom:-38px;
}

.link{
	border-radius: 100%;
	border: 1px solid black;
	display: block;
	height: 75px;
	width: 75px;
	text-align: center;
	padding: 5px;
	padding-top: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin: 0px 5px;
	margin-top: 3%; /* Don't know why this works, but it does.... */
	float: left;


}

#border{
	height: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #00AFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
00afff
ffe553
*/

.info{
	margin: 0px;
	padding: 0px;
	height: 300px;
	width: 300px;
	overflow: hidden;
	position: relative;
}

#circle{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#container{
	width: 80%;
	min-width: 697px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0 5px;
}

#displayCalendar{
	border-width: 0px;
	width: 100%;
	height: 700px;
}

#bottomBorder{
	height: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #00AFFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

#top-left {
	border-radius: 100% 0 0 0;
	background: url('people.JPG');
	/*
		for a picture that is not skewed
	background-size: cover;
	background-position: bottom left; or whatever looks best

		for a picture skewed to fill the space (not recommended)
	bacgkround-size: 100% 100%;

	*/
	background-size: cover;
	background-position: bottom left;
	float: left;
}

#top-right {
	border-radius: 0 100% 0 0 ;
	background: url('group.JPG');
	background-size: cover;
	background-position: bottom left;
}

#bottom-left {
	border-radius: 0 0 0 100%;
	background: url('laptopGuy.JPG');
	background-size: cover;
	background-position: top right;
	float: left;
}

#bottom-right {
	border-radius: 0 0 100% 0;
	background: url('meeting.JPG');
	background-size: 100% 100%;
	background-position: top left;
}

.quadFade {
	border-radius: inherit;
	height: 100%;
	width: 100%;
	position: relative;
}
.circleText{
	height: 212px;
	width: 212px;
	padding: 10px;
	position: absolute;
	margin: 0px 0px;
	color: #FFF;
	display: block;
	visibility: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

.left {
	right: 0;
}

.right {
	left: 0;
}

.bottom {
	top: 0;
	padding-top: 45px;
}

.top {
	bottom: 0;
	padding-bottom: 45px;
}

.tagBottom {
	top: 0;
}

.tagTop {
	bottom: 0;
}

.circleBox {
	position: absolute;
	margin: 0 20px;
	min-width: 100px;
	overflow: hidden;
	height: 36px;
	-webkit-transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
	transition: height cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
}

.circleTag {
	background-color: rgba(255, 255, 255, .7);
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	font-size: 17pt;
	padding: 5px 10px;
	width: auto;
	display: inline-block;
}

.info:hover .quadFade{
	background-color: rgba(0, 0, 0, .6); /* make this a little browner/less of a flat black */
}

.info:hover .circleText{
	visibility: visible;
}

.info:hover .circleBox {
	height: 0px;
}

#intro{
	text-align: center;
	font-size: 60px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-family: sans-serif;
}

footer{
	font-size: 10px;
	text-align: center;
	margin-bottom: 10px;
}

body{
	color: #424242;
}

#main{
	background-color: #FFF;
}
