.link{
	border-radius: 100%;
	display: inline-block;
	border: 1px solid black;
	height: 70px;
	width: 70px;
	text-align: center;
	vertical-align: bottom;
	padding: 5px;
	margin: 5px;
}

#nav{
	float: right;
	width: inherit;
}



#border{
	height: 3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #00AFFF;
}

/*
00afff
ffe553
*/

#imagePlaceholder{
	width: 50%;
	min-width: 400px;
	max-width: 750px;
	height: 10%;
	min-height: 100px;
	max-height: 150px;
	display: inline-block;
	float: left;
}

.info{
	margin: 0px;
	padding: 0px;
	height: 300px;
	width: 300px;
	overflow: hidden;

	vertical-align: middle;
}

.linkFix{
	padding-top: 5px;
}

#current{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#container{
	width: 80%;
	min-width: 697px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

#displayCalendar{
	border-width: 0px;
	width: 100%;
	height: 700px;
}

#bottomBorder{
	height: 3px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #00AFFF;
	margin-top: 10px;
}

#welcome{
	margin-bottom: 0px;
}

#top-left {
	border-radius: 100% 0 0 0;
	background: url('people.JPG');
	/*
		for a picture that is not skewed
	background-size: cover;
	background-position: bottom left; or whatever looks best

		for a picture skewed to fill the space (not recommended)
	bacgkround-size: 100% 100%;

	*/
	background-size: cover;
	background-position: bottom left;
	float: left;
}

#top-right {
	border-radius: 0 100% 0 0 ;
	background: url('group.JPG');
	background-size: cover;
	background-position: bottom left;
}

#bottom-left {
	border-radius: 0 0 0 100%;
	background: url('laptopGuy.JPG');
	background-size: cover;
	background-position: top right;
	float: left;
}

#bottom-right {
	border-radius: 0 0 100% 0;
	background: url('meeting.JPG');
	background-size: 100% 100%;
	background-position: top left;
}

.quadFade {
	border-radius: inherit;
	height: inherit;
	width: inherit;
	/* padding: 30px; */
}
.hoverP{
	
	margin: 0px auto;
	height: 100%;
	width: 200px;
	padding: 10px;
	text-align: justify;
	
	display: none;
	color: #FFF;
}

.info:hover .quadFade{
	background-color: rgba(0, 0, 0, .5); /* make this a little browner/less of a flat black */
}

.info:hover .hoverP{
	display: block;
}

#intro{
	text-align: center;
	font-size: 60px;
	margin-top: 5px;
	margin-bottom: 15px;
	font-family: sans-serif;
}

#footer{
	font-size: 10px;
	text-align: center;
}

body{
	color: #424242;
}

#main{
	border-left: 3px solid #ffe553;
	border-right: 3px solid #ffe553;
}
